html, body {
    text-align: center;
}

input {
    margin-top: 5%;
    font-size: 32px;
    text-align: center;
    border: 0;
    background: transparent;
}

button {
    margin-top: 20px;
    font-size: 32px;
}